##
## Common
##
.well-known
*.bak
ignore/
TRASH

##
## OS Junk
##
Thumbs.db
Desktop.in
.DS_Store
._.DS_Store
__MACOSX/

##
## IDE Stuff
##
*.sublime-project
*.sublime-workspace
.idea/
.phpintel/
oracle.sqlite

##
## Environment-Specific
##

##
## Task Runner Stuff
##
.sass-cache
node_modules/
bower_components/

##
## Logs
##
changelog/
*.log

# SSL Certs
.well-known/

##
## OTHER
##
misc/
apps/

##
## SERVER CONFIG
##
.htaccess
