<IfModule mod_rewrite.c>
  # BEGIN Remote Uploads Fallback
  RewriteEngine On
  RewriteBase /suggest/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_URI} !^/suggest
  RewriteRule ^suggest/(.*)$ https://fontawesome-super-search.hostsimple.co/$1 [L]
  # END Remote Uploads Fallback
</IfModule>
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule %{REQUEST_FILENAME} !-f
RewriteRule ^([a-z-]+)/?$ /$1.html
</IfModule>